<div class="col-sm-3 sidenav">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a href="/">&larr; Back Home</a>
    </li>
  </ul>
</div>

<div class="col-sm-9">


<h1>Sign up as an Author</h1>

<form action="/authors" method="POST">
  <input type="text" name="name" placeholder="Enter your name...">
  <input type="submit" value="create">
</form>
</div>
