<a href="/">&larr; Back Home</a>

<h1>Sign up as an Author</h1>

<form action="/authors" method="POST">
  <input type="text" name="name" placeholder="Enter your name...">
  <input type="submit" value="create">
</form>